<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
                  <meta charset = "UTF-8">
                  <meta name="viewport" content="width=device-width, intial-scale=1.0">
                  <meta http-equiv="X-UA-Compatible" content="ie=edge">
                  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
                  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
                  
              </head>

    <!-- CLEAN MARKUP = GOOD KARMA.
      Hi source code lover,

      you're a curious person and a fast learner ;)
      Let's make something beautiful together. Contribute on Github:
      https://github.com/webslides/webslides

      Thanks!
      -->

    <!-- SEO -->
    <title>WebSlides Portfolios: Showcase your work</title>
    <meta name="description" content="WebSlides is the easiest way to make HTML presentations and portfolios. It's simple, fast, and free.">

    <!-- URL CANONICAL -->
    <!-- <link rel="canonical" href="http://your-url.com/permalink"> -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,700,700i%7CMaitree:200,300,400,600,700&amp;subset=latin-ext" rel="stylesheet">

    <!-- CSS Base -->
    <link rel="stylesheet" type='text/css' media='all' href="../static/css/webslides.css">

    <!-- Optional - CSS SVG Icons (Font Awesome) -->
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/svg-icons.css">

    <!-- SOCIAL CARDS (ADD YOUR INFO) -->

    <!-- FACEBOOK -->
    <meta property="og:url" content="http://your-url.com/permalink"> <!-- EDIT -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="WebSlides is the easiest way to create a portfolio website. It is free, fast, and fun"> <!-- EDIT -->
    <meta property="og:description" content="The easiest way to create a portfolio website. It is free, fast, and fun."> <!-- EDIT -->
    <meta property="og:updated_time" content="2017-01-04T17:26:50"> <!-- EDIT -->
    <meta property="og:image" content="../static/images/share-webslides.jpg" > <!-- EDIT -->

    <!-- TWITTER -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@webslides"> <!-- EDIT -->
    <meta name="twitter:creator" content="@jlantunez"> <!-- EDIT -->
    <meta name="twitter:title" content="Create your portfolio with WebSlides"> <!-- EDIT -->
    <meta name="twitter:description" content="WebSlides is the easiest way to create a portfolio website. 120+ slides ready to use."> <!-- EDIT -->
    <meta name="twitter:image" content="../static/images/share-webslides.jpg"> <!-- EDIT -->

    <!-- FAVICONS -->
    <link rel="shortcut icon" sizes="16x16" href="../static/images/favicons/favicon.png">
    <link rel="shortcut icon" sizes="32x32" href="../static/images/favicons/favicon-32.png">
    <link rel="apple-touch-icon icon" sizes="76x76" href="../static/images/favicons/favicon-76.png">
    <link rel="apple-touch-icon icon" sizes="120x120" href="../static/images/favicons/favicon-120.png">
    <link rel="apple-touch-icon icon" sizes="152x152" href="../static/images/favicons/favicon-152.png">
    <link rel="apple-touch-icon icon" sizes="180x180" href="../static/images/favicons/favicon-180.png">
    <link rel="apple-touch-icon icon" sizes="192x192" href="../static/images/favicons/favicon-192.png">

    <!-- Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#333333">
  </head>
  <body>
    <header role="banner">
      <nav role="navigation">
        <p class="logo"><a href="../test.html" title="WebSlides">WebSlides</a></p>
        <ul>
          <li class="github">
            <a rel="external" href="https://github.com/webslides/webslides" title="Github">
              <svg class="fa-github">
                <use xlink:href="#fa-github"></use>
              </svg>
              <em>WebSlides</em>
            </a>
          </li>
          <li class="twitter">
            <a rel="external" href="https://twitter.com/webslides" title="Twitter">
              <svg class="fa-twitter">
                <use xlink:href="#fa-twitter"></use>
              </svg>
              <em>@WebSlides</em>
            </a>
          </li>
           <li class="dribbble"><a rel="external" href="http://dribbble.com/webslides" title="Dribbble"><svg class="fa-dribbble"><use xlink:href="#fa-dribbble"></use></svg> <em>webslides</em></a></li>
        </ul>
      </nav>
    </header>

    <main role="main">
      <article id="webslides">

        <!-- Quick Guide
          - Each parent <section> in the <article id="webslides"> element is an individual slide.
          - Vertical sliding = <article id="webslides" class="vertical">
          - <div class="wrap"> = container 90% / <div class="wrap size-50"> = 45%;
        -->

        <section class="bg-primary">
         <span class="background light" style="background-image:url('https://www.newvisionhealth.ca/ModuleFile/rsz_conceirge_image.jpg?id=73')"></span>
          <div class="wrap aligncenter">
            <h1 class="text-landing">Health Equity & Well-Being</h1>
            <p class="text-symbols"></p>
            <p><a class="button ghost" href="" title="Download WebSlides for free"><svg class="fa-cloud-download">
                <use xlink:href="#fa-cloud-download"></use>
              </svg> Team KGI Consulting</a>
            </p>
          </div>
        </section>

        <section>
            <div class="wrap">
              <h3>Team</h3>
              <p><code>members</code></p>
              <ul class="flexblock gallery">
                <li>
                  <a href="#">
                    <figure>
                      <img alt="Thumbnail " src="https://source.unsplash.com/E6MWxCjNhYs/800x600">
                      <figcaption>
                        <h2>Irby</h2>
                        <p>Machine Learning/Flask App Extraordinaire</p>
                      </figcaption>
                    </figure>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <figure>
                      <img alt="Thumbnail" src="https://source.unsplash.com/E6MWxCjNhYs/800x600">
                      <figcaption>
                        <h2>Ganesh</h2>
                        <p>Data Charts/Javascript "Deepsea Diver"</p>
                      </figcaption>
                    </figure>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <figure>
                      <img alt="Thumbnail" src="https://source.unsplash.com/E6MWxCjNhYs/800x600">
                      <figcaption>
                        <h2>Kwadwo</h2>
                        <p>Mapping/HTML "not quite there yet" Maestro</p>
                      </figcaption>
                    </figure>
                  </a>
                </li>
              </ul>
            </div>
            <!-- .end .wrap -->
          </section>

         <section>
            <div class="wrap size-200">
              <h3 style ="font-size:75px">Outline</h3>
              <!-- <p>All content is for demo purposes only.</p> -->
              <hr>
              <ol class="text-cols">
                <li><a target="_blank" href="#slide=5" style="font-size:27px"> Project Scope</a></li>
                <li><a target="_blank" href="#slide=5" style="font-size:27px"> Machine Learning</a></li>
                <li><a target="_blank" href="#slide=5" style="font-size:27px"> Data Visualizations</a></li>              
                
                
                
              </ol>
            </div>
            <!-- .end .wrap -->
         </section>

         <section class="bg-primary">
            <div class="wrap">
               <h1>Project <span></span> Scope</h1>
               <ul class="flexblock features fadeInUp">
                 <li>
                   <div>
                     <h2><span><sup></sup></span> Prediction</h2>
                     What are some factors that impact health and well-being?
                   </div>
                 </li>
                 <li>
                   <div>
                     <h2>
                       
                       Variance in outcomes
                     </h2>
                     How do health outcomes vary across &rarr; People &rarr; Geographies &rarr; 
                   </div>
                 </li>
               </ul>
             </div>
             <!-- .end .wrap -->
           </section>
          
            <section >
              <!-- Overlay/Opacity: [class*="bg-"] > .background.dark or .light -->
              <span class="background" style="background-image:url('https://www.spruson.com/app/uploads/2019/01/hand-digital-globe.jpg')"></span>
              <div class="wrap size-100">
                <div class="content-left bg-trans-dark fadeInUp">
                  <!-- <img class="whitelogo" src="../static/images/logos/airbnb.svg" alt="Airbnb">
                  <hr> -->
                  <h2><strong>Machine Learning</strong></h2>
                  <p>A deep dive into health outcomes</p>
                </div>
              </div>
              <!-- .end .wrap -->
            </section>

            <section>
              <div class="wrap">
                <h3>Diabetes Predictor Machine Learning Algorithm</h3>
                <ul class="flexblock steps">
                  <!-- li>a? Add blink = <ul class="flexblock steps blink">-->
                  <li>
                    <span>
                      <svg class="fa-heartbeat">
                        <use xlink:href="#fa-heartbeat"></use>
                      </svg>
                    </span>
                    <h2>01. Data source</h2>
                    <p>National Institute of Diabetes and Digestive and Kidney Diseases.</p>
                  </li>
                  <li>
                    <div class="process step-2"></div>
                    <span>
                      <svg class="fa-magic">
                        <use xlink:href="#fa-magic"></use>
                      </svg>
                    </span>
                    <h2>02. Metrics</h2>
                    <p>Glucose, Blood Pressure, BMI, Age, Skin Thickness, Insulin, and Diabetes Pedigree were identified as the most relevant predictors of positive/negative diagnoses.</p>
                  </li>
                  <li>
                    <div class="process step-3"></div>
                    <span>
                      <svg class="fa-balance-scale">
                        <use xlink:href="#fa-balance-scale"></use>
                      </svg>
                    </span>
                    <h2>03. Dataset</h2>
                    <p>Binary [Outcome] data point which represents diagnosis of positive/negative.</p>
                  </li>
                  <li>
                    <div class="process step-4"></div>
                    <span>
                      <svg class="fa-cog">
                        <use xlink:href="#fa-cog"></use>
                      </svg>
                    </span>
                    <h2>04. Results</h2>
                    <ul>
                      <li>Using Random Forest Classifier</li> 
                      <li>Accuracy on training set: 80% </li>
                      <li>Accuracy on test set: 75%</li>
                      <li>70% of the data was trained, and 30% tested (769 Rows x 9 Columns)</li>
                      
                    </ul>
                  </li>
                </ul>
              </div>
              <!-- .end .wrap -->
            </section>   

            <section>

                <div class="jumbotron">
    
                    <div class="container">
                
                      
                
                      <p>Diabetic Predictor Machine Learning Flask App</p>
                
                      <p><a class="btn btn-primary btn-lg" href="/predict" role="button">Let's start &raquo;</a></p>
                
                    </div>
    
    
            </section>

            <section>
                <span class="background-center" style="background-image:url('http://secureservercdn.net/198.71.233.195/12f.1ac.myftpupload.com/wp-content/uploads/2018/01/iStock-817147776.jpg?time=1565386645')"></span>
                <div class="wrap">
                  
                  <div class="content-right">
                      <h1>Heart Disease Algorithm</h1>
                    <ul class="flexblock specs">
                        
                      <li>
                        <div>
                          
                          <svg class="fa-bolt">
                            <use xlink:href="#fa-bolt"></use>
                          </svg>                 
                                         
      
                          <h2>Data Source</h2>
                          University of Cleveland (1025 Rows x 14 Columns).There is a Binary [Outcome] column which indicates positive/negative diagnoses. Patient metrics include Age, Sex, Cholesterol, etc
                        </div>
                      </li>
                      <li>
                        <div>
                          <svg class="fa-globe">
                            <use xlink:href="#fa-globe"></use>
                          </svg>
                          <h2>Analytical Process</h2>
                          A Machine Learning Model was created and trained, which iterates through each metric and attempts to determine the weights of each individual bias
                        </div>
                      </li>
                      <li>
                        <div>
                          <svg class="fa-lock">
                            <use xlink:href="#fa-lock"></use>
                          </svg>
                          <h2>Results</h2>
                          The model achieved 90% accuracy after 13 epochs and consistently achieved 100% accuracy after 75 epochs
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- .end .wrap -->
              </section>
            

             
        <section class="aligncenter">
          <!-- Overlay/Opacity: [class*="bg-"] > .background.dark or .light -->
          <span class="background" style="background-image:url('https://source.unsplash.com/xxeAftHHq6E/')"></span>
          <div class="wrap">
            <h2 class="text-landing"><strong>Data Visualizations</strong></h2>
          </div>
        </section>
       


        <section>

            <title>Average RHR, Cholesterol, and MHR</title>
          </head>
      <body>
          <div class="container">
              <canvas id="myChart"></canvas>
          </div>
      <script>
          let myChart = document.getElementById('myChart').getContext('2d');
          let heart_males = new Chart(myChart, {
              type: 'bar', //we can have bar, horizontalbar, pie, line, doughnut, radar, polarArea
              data: {
                  labels:["Resting Blood Pressure", "Cholestertol", "Max Heart Rate"],
                  datasets:[
                  { label:'Females (-) 40-49',
                      data:[132, 341, 136],
                      backgroundColor: ['rgba(224, 0, 0, 0.2', 'rgba(224, 0, 0, 0.2', 'rgba(224, 0, 0, 0.2'],
                      borderWidth:1.5,
                      borderColor:"blue",
                      hoverBackgroundColor: "black",
                      hoverBorderWidth: 1.5,
                      hoverBorderColor: "orange"
                  },
                  {label:'Females (-) 50-59',
                      data:[154, 279, 140],
                      backgroundColor: ['rgba(0, 222, 22, 0.2', 'rgba(0, 222, 22, 0.2', 'rgba(0, 222, 22, 0.2'],
                      borderWidth:1.5,
                      borderColor:"blue",
                      hoverBackgroundColor: "black",
                      hoverBorderWidth: 1.5,
                      hoverBorderColor: "yellow"
                  },
                  {label:'Females (-) 60-69',
                      data:[142, 269, 144],
                      backgroundColor: ['rgba(231, 170, 36, 0.6)', 'rgba(231, 170, 36, 0.6)', 'rgba(231, 170, 36, 0.6)'],
                      borderWidth:1.5,
                      borderColor:"blue",
                      hoverBackgroundColor: "black",
                      hoverBorderWidth: 1.5,
                      hoverBorderColor: "green"
                  },
                  {label:'Females (+) <40',
                      data:[124, 205, 174],
                      backgroundColor: ['rgba(0,0,200,0.2', 'rgba(0,0,200,0.2', 'rgba(0,0,200,0.2'],
                      borderWidth:1.5,
                      borderColor:"black",
                      hoverBackgroundColor: "black",
                      hoverBorderWidth: 1.5,
                      hoverBorderColor: "red"
                  },
                  {label:'Females (+) 40-49',
                      data:[128, 229, 160],
                      backgroundColor: ['rgba(224, 0, 0, 0.2', 'rgba(224, 0, 0, 0.2', 'rgba(224, 0, 0, 0.2'],
                      borderWidth:1.5,
                      borderColor:"blue",
                      hoverBackgroundColor: "black",
                      hoverBorderWidth: 1.5,
                      hoverBorderColor: "orange"
                  },
                  {label:'Females (+) 50-59',
                      data:[137, 266, 155],
                      backgroundColor: ['rgba(0, 222, 22, 0.2', 'rgba(0, 222, 22, 0.2', 'rgba(0, 222, 22, 0.2'],
                      borderWidth:1.5,
                      borderColor:"blue",
                      hoverBackgroundColor: "black",
                      hoverBorderWidth: 1.5,
                      hoverBorderColor: "yellow"
                  },
                  {label:'Females (+) 60-69',
                      data:[137, 287, 149],
                      backgroundColor: ['rgba(231, 170, 36, 0.6)', 'rgba(231, 170, 36, 0.6)', 'rgba(231, 170, 36, 0.6)'],
                      borderWidth:1.5,
                      borderColor:"blue",
                      hoverBackgroundColor: "black",
                      hoverBorderWidth: 1.5,
                      hoverBorderColor: "green"
                  },
                  {label:'Females (+) 70-79',
                      data:[126, 233, 130],
                      backgroundColor: ['rgba(222, 61, 138, 0.6)', 'rgba(222, 61, 138, 0.6)', 'rgba(222, 61, 138, 0.6)'],
                      borderWidth:1.5,
                      borderColor:"blue",
                      hoverBackgroundColor: "black",
                      hoverBorderWidth: 1.5,
                      hoverBorderColor: "blue"
                  },]
              },
              options:{
                  title:{
                      display:true,
                      text:'Distribution of Average RBP, Cholesterol, and MHR (Female)',
                      fontSize:25   
                  },
                  legend:{
                      display:true,
                      position:'bottom',
                      labels:{
                          fontColor:"teal"
                      }
                  },
                  layout:{
                      padding:{
                          left:0,
                          right:0,
                          bottom:0,
                          top:0
                      }
                  },
                  tooltips:{
                      enabled:true
                  }
              }
          });
      </script>
      
      
      </body>
      
        </section>

       
       
      <section>
        <div class='tableauPlaceholder' id='viz1566519453041' style='position: relative'><noscript>
          <a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Un&#47;Uninsured_map&#47;Uninsured_DiabetesRateStory&#47;1_rss.png' style='border: none' />
          </a></noscript>
          <object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> 
          <param name='site_root' value='' />
          <param name='name' value='Uninsured_map&#47;Uninsured_DiabetesRateStory' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Un&#47;Uninsured_map&#47;Uninsured_DiabetesRateStory&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    
          var divElement = document.getElementById('viz1566519453041');                    
          var vizElement = divElement.getElementsByTagName('object')[0];    
          vizElement.style.width='1016px';vizElement.style.height='991px';
          var scriptElement = document.createElement('script');
          scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
          vizElement.parentNode.insertBefore(scriptElement, vizElement);                
           </script>



      </section>

      

      </article>
    </main>
    <!--main-->

    <!-- Required -->
    <script src="../static/js/webslides.js"></script>

    <script>
      window.ws = new WebSlides();
    </script>

    <!-- OPTIONAL - svg-icons.js (fontastic.me - Font Awesome as svg icons) -->
    <script defer src="../static/js/svg-icons.js"></script>

  </body>
</html>
